.app-body {
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: normal;
}

h1, H2, h3, h4, h5, h6 {
  font-family: 'Helvetica';
  font-weight: lighter;
  font-style: lighter;
  color: #111139;
}

.scroll
{
width:80%;
height:400px;
overflow:scroll;
float: left;
}